:root {
    --background: rgb(22, 21, 18);
    --foreground: #171717;
    --color: #fff;
    --windowWidth: calc(100vw);
    --windowHeight: calc(100vw)
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(22, 21, 18);
        --foreground: #fff;
        --color: #fff;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(22, 21, 18);
}

body {
    color: var(--color);
    background: var(--background);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media (orientation: landscape) {
    #chess-board, .cg-wrap, cg-container {
        width: 480px !important;
        height: 480px !important;
        min-height: 480px !important;
    }

    #root {
        width: 480px;
    }

    body, html {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (orientation: portrait) {
    #chess-board, .cg-wrap, cg-container {
        width: var(--windowWidth, 100vw) !important;
        height: var(--windowWidth, 100vw) !important;
        min-height: var(--windowWidth, 100vw) !important;
    }

    #root {
        width: var(--windowWidth, 100vw);
    }

    body, html {
        overflow-y: scroll;
    }
}